.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.svg {
  width: 500px;
}

.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 0.3s steps(8) forwards;
}

.import_1_1 {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 0.3s steps(8) forwards;
  animation-delay: 0.3s;
}

.import_1_2 {
  animation-delay: 0.6s;
}

.import_1_3 {
  animation-delay: 0.9s;
}

.import_2_0 {
  animation-delay: 1.2s;
}

.import_2_1 {
  animation-delay: 1.5s;
}

.import_2_2 {
  animation-delay: 1.8s;
}

.import_2_3 {
  animation-delay: 2.1s;
}

.declaration_1_0 {
  animation-delay: 2.4s;
}

.declaration_1_1 {
  animation-delay: 2.7s;
}

.declaration_1_2 {
  animation-delay: 3s;
}

.declaration_2_0 {
  animation-delay: 3.3s;
}

.declaration_2_1 {
  animation-delay: 3.6s;
}

.declaration_2_2 {
  animation-delay: 3.9s;
}

.properties_1_0 {
  animation-delay: 4.2s;
}

.properties_1_1 {
  animation-delay: 4.5s;
}

.properties_2_0 {
  animation-delay: 4.8s;
}

.properties_2_1 {
  animation-delay: 5.1s;
}

.properties_3_0 {
  animation-delay: 5.4s;
}

.properties_3_1 {
  animation-delay: 5.7s;
}

.properties_4_0 {
  animation-delay: 6s;
}

.properties_4_1 {
  animation-delay: 6.3s;
}

.properties_5_0 {
  animation-delay: 6.6s;
}

.properties_5_1 {
  animation-delay: 6.9s;
}

.properties_6_0 {
  animation-delay: 7.2s;
}

.properties_6_1 {
  animation-delay: 7.5s;
}

.declaration_3_0 {
  animation-delay: 7.8s;
}

.declaration_4_0 {
  animation-delay: 8.1s;
}

.declaration_4_1 {
  animation-delay: 8.4s;
}

.declaration_4_2 {
  animation-delay: 8.7s;
}

.declaration_4_3 {
  animation-delay: 9s;
}

.declaration_4_4 {
  animation-delay: 9.3s;
}

.declaration_5_0 {
  animation-delay: 9.6s;
}

.declaration_5_1 {
  animation-delay: 9.9s;
}

.declaration_5_2 {
  animation-delay: 10.2s;
}

.declaration_5_3 {
  animation-delay: 10.5s;
}

.declaration_5_4 {
  animation-delay: 10.8s;
}

.declaration_5_5 {
  animation-delay: 11.1s;
}

.export_0 {
  animation-delay: 11.4s;
}

.export_1 {
  animation-delay: 11.7s;
}

.export_2 {
  animation-delay: 12s;
}

.export_3 {
  animation-delay: 12.3s;
}

.export_4 {
  animation-delay: 12.6s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
