.icon {
  width: rem(20px);
  height: rem(20px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
.footer {
  height: 50px;
  bottom: 0;
  padding: 0 20 0 20;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: rem(10);
}
.a {
  transition: transform 0.5s ease;
}

.a:hover {
  transform: scale(1.5);
}
